$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #777;
  background: #fff;
}

.highlight {
  color: #000;
  font-weight: 400;
}

.container {
  height: 101vh;
  position: relative;
  overflow: hidden;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.custom-nav {
  text-align: center;
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin: 0 auto;
  margin-top: -50px;
  left: 0;
  right: 0;

  li {
    display: inline-block;
    padding: 4px 0;
    margin: 0 2.6vw;

    a {
      font-size: 1.1vw;
      letter-spacing: 0.09vw;
      font-weight: 400;
      color: rgba(0,0,0,0);
      text-decoration: none;

      &:hover, &:active, &:visited {
        text-decoration: none;
      }
    }
  }

  hr {
    border-top: 2px solid rgba(0,0,0,1);
    width: 0;
    margin: 5px 0;
    transition: width 0.6s;

    &.active {
      width: 100%;
    }

    &.disabled {
      border-top: 2px solid rgba(0,0,0,0);
    }

    &.divider {
      transition: width 1.5s;
      margin: 5vh auto;
      margin-top: 0;
      width: 0;
      border-top: 1.5px solid #dfdfdf;
    }
  }

  .first {
    margin-right: 4.5%;
    margin-left: 0;
  }

  .last {
    margin-right: 0;
    margin-left: 4.5%;
  }

}

.hero {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 17.3%;
  // text-align: center;
  // margin: 0 auto;
  // left: 0;
  // right: 0;
  margin-top: -50px;
}

#typed-strings {
  display: none;
}

.typed {
  display: inline;
  font-size: 2.45vw;
}

.typed-cursor{
  font-size: 2.45vw;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.info {
  position: absolute;
  background: rgba(50,50,50,0);
  width: 70%;
  padding: 2.5vh 1.6vw;
  margin: 0 auto;
  margin-bottom: 20vh;
  left: 0;
  right: 0;
  top: 55%;

  img {
    display: inline-block;
    height: 11px;
    margin-bottom: 0.2em;
    margin-left: 5px;
  }

  h5 {
    margin: 5px 0;
    margin-top: 30px;
    color: #222; 
    font-weight: 700;
    display: inline-block;
    font-size: 1.1vw;

    &.first-header {
      margin-top: 0;
    }

    // &#personal {
    //   margin-bottom: 5px;
    // }

    &.email {
      display: block;
    }
  }

  h6 {
    margin: 5px 0;
    margin-bottom: 10px;
    color: #222;
    font-size: 0.9vw;

    &.personal {
      margin-top: 25px;
      margin-bottom: 5px;
      display: inline-block;
      font-weight: 400;
    
      &.first {
        margin-top: 0;
      }
    }
  }

  p {
    font-size: 0.9vw;
    letter-spacing: 0.5px;
    color: #555;

    strong {
      font-weight: 400;
      color: #1eacff;
    }
  }

  a.email {
    font-size: 2.3vw;
    font-weight: 300;
    color: black;
    display: inline-block;
    border-bottom: 1px solid black;
    transition: color 0.8s, border-bottom 0.8s;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #1eacff;
      border-bottom: 1px solid #1eacff;
    }

    &:active, &:visited {
      text-decoration: none;
    }
  }

  .skills {
    position: absolute;
    right: 100%;
    margin-top: 2vh;
    width: 100%;
    margin-bottom: 20vh;

    h5 {
      display: block;
      font-weight: 400;
      line-height: 0;
      margin-bottom: 5.5vh;
      text-align: right;
    }
  }

  .skill-bar {
    position: absolute;
    padding: 0 1.6vw;
    left: 0;
    right: 0;
    top: 2vh;
    margin-top: 2vh;
    bottom: 0;

    .rating {
      margin-bottom: 4.5vh;
      background: #eee;
      width: 100%;
      height: 1vh;
    }

    .rating-fill {
      margin-bottom: 4.5vh;
      background: #1eacff;
      width: 0;
      height: 1vh;
      transition: width 1.6s;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 60%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
