$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #777;
  background: #fff;
}

.highlight {
  color: #000;
  font-weight: 400;
}

.container {
  height: 100vh;
  position: relative;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.custom-nav {
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: 2%;
  position: absolute;
  top: 50%;
  margin-top: -50px;

  li {
    display: inline-block;
    padding: 4px 0;
    margin: 0 4.5%;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-bottom 0.5s;

    &:hover {
      border-bottom: 2px solid black;
    }

    &.disabled:hover {
      border-bottom: 2px solid rgba(0,0,0,0);
    }

    a {
      letter-spacing: 1px;
      font-weight: 400;
      color: rgba(0,0,0,0);
      // display: none;

      &:hover, &:active {
        text-decoration: none;
      }
    }
  }

  .first {
    margin-right: 4.5%;
    margin-left: 0;
  }

  .last {
    margin-right: 0;
    margin-left: 4.5%;
  }

}

.hero {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 15%;
  margin-top: -50px;
}

#typed-strings {
  display: none;
}

.typed {
  display: inline;
  font-size: 2.3em;
}

.typed-cursor{
  font-size: 2.3em;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 760px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
